
#code{
	background:#c7dbdb71;
	color:rgb(112, 22, 185);
	padding:4px;
	width:98%;
	margin:0px auto;
	border-radius:5px;
	position:relative;
}
#comp{
		background-color:#3f51b5;
		color:white;
		padding:2px;
		border-radius:4px;
}
.btn{
	position: absolute;
    top: 0px;
    right: 0px;
	background:#fff;
	color:#000;
	border:1px solid black;
	border-top-right-radius:5px;
	outline:none;
}